body{
    background:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
   
    background-color: var(--color);
  
}

li{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

    
}

.form-example{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    


}

p{
    text-align: center;
    font-size: 20px;


}
.section{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;


}

h4{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 30px;



}


img{
    display: block;
    margin: 0px auto;

}

h2{
    text-align: center;
    text-decoration: underline;


}

h3{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

h6{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}

h5{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
        
}

.iframe{
    border: none; 
    width: 600px; 
    height: 400px; 



    
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

article{
    margin:10px;
    padding:30px 30px 30px 30px;
    border:10px solid 
    
}


article p{
    color:aquamarine

}

a:hover{
    text-decoration: underline 3px;
    color: black;
}

input {
    border-width: 3px;
  }
  input:optional {
    border-color: #008000;
  }
  input:required {
    border-color: #800000;
  }

input:checked {
    margin-left: 25px;
    border: 1px solid blue;
  }

div,
select {
  margin: 8px;
}

input:checked + label {
  color:black;
}


input[type="radio"]:checked {
  box-shadow: 0 0 0 3px rgb(186, 255, 47);
  text-align: center;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px grey;
}


option:checked {
  box-shadow: 0 0 0 3px lime;
  color:black;
}

:root{
    --color:  white;
    --pane-padding: 5px 42px;

}

:target{
    background: gold;
    font-size: 50px;
    text-decoration: underline;

}


@media(min-height:700px),screen and (orientation:portrait){


}

.container{
    display: flex;
    color:white;
    background: grey ;
    flex-direction:column;
    align-items:start;
    justify-content: space-evenly;

   
}

article{
    margin: 10px;
    padding: 20px;
    border:2px solid;
}

h1{
    font-size: 20px;
}



.grid-item {
    background-color: darkcyan;
    padding: 20px;
    text-align: center;
    border: 9px solid #ccc;
    text-decoration: underline;
}

.grid-item2 {
    background-color: grey;
    padding: 20px;
    text-align: center;
    border: 9px solid #ccc;
    text-decoration: underline;
}

.grid-itemy {
    background-color:grey;
    padding: 20px;
    text-align: center;
    border: 9px solid #ccc;
    text-decoration: underline;

}


.dropdown-child{
    font-size: 17px;

}

td{
    font-size: 20px;
}

.car{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}


